:root {
  font-family: sans-serif;
}

* {
  font-size: 16px;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

html {
  background-color: rgb(78, 78, 78);
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  max-width: 600px;
  margin: 0 auto;
}

body > * {
  padding: 5px;
}

header {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(231, 231, 231);
}

#resetButton {
  margin-left: auto;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  overflow-y: scroll;
}

#setupForm {
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  gap: 5px;
}

.playerDiv {
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 3px;
  background-color: rgb(231, 231, 231);
  margin: auto;
  border-radius: 5px;
}

div.playerDiv > label {
  display: flex;
  margin-left: 5px;
}

div.playerDiv label > input {
  width: 60%;
  margin-left: auto;
}

#buttonDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}

#instructionSpan {
  grid-column: 1 /-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  color: red;
}

#startButton {
  grid-column: 1 /-1;
}

#playDiv {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.playerCard {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  gap: 3px;
  padding: 3px;
  border-radius: 5px;
}

.nameDisplay,
.scoreDisplay {
  grid-column: 2/-2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 3px;
  font-size: 18px;
  font-weight: bold;
}

.nameDisplay {
  grid-row: 1/4;
  background-color: white;
}

.scoreDisplay {
  grid-row: 4/-1;
  width: 33%;
}

.cardButtonPlus,
.cardButtonMinus {
  grid-row: span 2;
}
